.expenseContainer{
    background-color: #34495e;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    color: #fff;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 7px;
}
.dateContainer{
    padding: 0.7rem 0.5rem;
    width: 4.5rem;
    border-radius: 7px;
    background-color: #2a2a2a;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.948);
    border: 1px solid #fff;
    margin-right: 0.3rem;
}
.amountContainer{
    background-color: #30336b;
    border: 1px solid #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.948);
    padding: 0.5rem;
    width: 4.5rem;
    font-size: 1.2rem;
    border-radius: 7px;
}
@media (max-width:800px) {
    .titleContainer{
        font-size: 0.8rem;
    }
    .amountContainer{
        padding: 0.5rem 0.3rem;
        width: 4rem;
    }
    .dateContainer{
        padding: 0.3rem 0.1rem;
    }
}