.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.formContainer{
    background-color: #a892ee;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.25);
    max-width: 800px;
    margin: auto;
}
.formContainer input{
    padding: 0.8rem 1rem;
    border-radius: 5px;
    border: 0;
    margin-bottom:0.4rem;
}
.formContainer label{
    margin-bottom:0.4rem;
}
.submitBtn,.deleteExpenseBtn{
    color: #fff;
    background-color: #40005d;
    border: 1px solid #40005d;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}
.submitBtn:hover,.deleteExpenseBtn:hover{
    background-color: #40005d9d;
}
.deleteExpenseBtn{
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
}
.expensesContainer{
    background-color: rgb(31,31,31);
}
@media (max-width:800px) {
    .formContainer .expenseInputField{
        width: 100%;
    }
    .formContainer .submitBtn{
        margin-top: 1rem;
    }
}