.mb-2{
  margin-bottom: 2rem;
}
.text-center{
  text-align: center
}
body{
  background-color: #b7ffd5;
}
.pl-1{
  padding-left: 0.5rem;
}
.p-1{
  padding: 1rem;
}
.flex-col{
  flex-direction: column;
}
.wrap{
  flex-wrap: wrap;
}
.font-semibold{
  font-weight: 600;
}
.w-45{
  width: 45%;
}
.mt-1{
  margin-top: 0.5rem;
}
.text-red{
  color: red;
}
.text-white{
  color: #fff;
}
.expensesContainer{
  max-width: 800px;
  max-height: 500px;
  overflow-y: auto;
  margin: 1rem auto 0;
  padding: 1rem;
  border-radius: 7px;
}
.expensesContainer::-webkit-scrollbar{
  display: none;
}
